body {
	
	margin: 25%;
	margin-top: 5%;
	font-family: 'Roboto', sans-serif;
	font-size: 11pt;
	line-height: 14pt;
}

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
	content: "\2022";
	color: red;
}

img {

	width: 80%;
	height: auto;
	
}
